*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Versión mobile  */

nav{
    grid-area: nav;
    display: flex;
    background-color: #0000ff;
    justify-content: space-between;
    padding: 4px;
}
.navegacion_escritorio{
    display: none;
}

section{
    grid-area: section;
    display: flex;
    justify-content: center;
    background-color: #9b9b9b;
}

main{
    grid-area: main;
}

.galeria{
    display:flex;
    flex-direction: column;
    gap: 1 rem;
    width: 100%;

    
}
.tarjeta{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 4px;
    border: solid 1px #0000ff;
}
.tarjeta img{
    width: 100%;
    object-fit: contain;
    height: 200px;

}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton{
    display: flex;
    justify-content: center;
    background-color: #0000ff;
}

footer{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: "nav" "section"  "main" "footer";
    grid-template-columns: 1fr;

}
footer{
    grid-area: footer;
    background-color: #0000ff;
    height: 4rem;
    text-align: center;
    justify-content: center;
}

/* Versión escritorio*/

@media (min-width: 576px) {

    .grid-container{
        display: grid;
        grid-template-areas: "nav nav" "section main" "footer footer";
        grid-template-columns: 1fr 4fr;
} 

    nav{
        display: flex;
        justify-content: space-around;
        
    }
    .navegacion_escritorio{
    display: flex;
    gap: 1px;
    justify-content: space-around;
    }

    section{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    select{
        height: 1rem;
    }
   

    .navegacion_escritorio li{
        list-style: none;
        margin: 3px;
    }
    .hamburguesa{
        display: none;
    }
    main{
        display:grid;
        grid-template-columns: auto auto auto;
        gap: 1 rem;
        background-color: #CBCBD6;
        height: 90vh;
    }
    .tarjeta{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 4px;
        flex-wrap: wraps;
        flex-grow: 1;
    }

}